/* Styles pour les projets */
.project-card {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #808080; /* Texte gris pour améliorer la lisibilité */
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Animation fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Ajout d'une animation de déplacement */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Utilisation de l'animation pour les cartes */
.project-card {
    animation: fadeIn 1s ease-in-out;
}

/* Animation pour le body */
@keyframes bodyFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Application de l'animation au body */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #4e4e4e;
    color: #ffffff;
    padding-top: 100px; /* Ajout d'un espace pour éviter que le contenu touche le header */
    animation: bodyFadeIn 1.5s ease-in-out; /* Animation d'apparition douce */
}

/* Style de l'en-tête avec la barre de navigation fixée */
header {
    position: fixed; /* Barre de navigation fixée */
    top: 0;
    width: 100%; /* Prend toute la largeur de l'écran */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: #fff;
    z-index: 1000; /* S'assure que la barre est au-dessus des autres éléments */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Pour compenser la barre de navigation fixée et éviter que le contenu soit masqué */
.hero {
    margin-top: 80px; /* Ajuste en fonction de la hauteur de la barre de navigation */
    height: calc(100vh - 80px); /* Prend en compte la hauteur de l'en-tête */
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-content .btn {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.hero-content .btn:hover {
    background-color: #0056b3;
}

/* Texte blanc pour les éléments avec la classe .text-center */
.text-center {
    color: #ffffff;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
